@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --menu-background: #5e5e5e;
  --menu-item-colour: #fff;
  --menu-window-colour: #fff;
  --background: #d2d2d2;
  --font-title-large: #0c0c0c;
  --font-title-small: #0c0c0c;
  --font-theme-colour: #0c0c0c;
  --font-plain-text: #0c0c0c;
  --font-discription: #0c0c0c;
}

/* navigation */
.menu {background-color: #3f3f3f;}

.menu-options {
  display: flex;
  position: relative;
  padding-bottom: 3rem;
}

.menu-options > a {
  width: 3.5rem;
  height: 3.5rem;
  border-right: rgba(0, 0, 0, 0);
  border-width: 0px;
  position: relative;
}

.menu-ico {
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  opacity: .6;
}

.menu-title {
  background-color: #ccc;
  height: 50px;
}


/* main & duplicate styles */
html {
  user-select: none;
}

.context-menu-active {
  visibility: hidden;
}


/* text styles */
h1, h2, h3, h4, h5, h6 {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-weight: bold;
}

h1, h2, h3 { color: var(--font-title-large) }
h4, h5, h6 { color: var(--font-title-small) }
h1 { font-size: 2.5rem }
h2 { font-size: 2.0rem }
h3 { font-size: 1.5rem }
h4 { font-size: 1.3rem }
h5 { font-size: 1.2rem }
h6 { font-size: 1.1rem }

.text-l {
  font-size: 1.15rem;
  color: var(--font-theme-colour)
}
.text-m {
  font-size: .9rem;
  color: var(--font-plain-text)
}
.text-s {
  font-size: .7rem;
  color: var(--font-discription);
}


/* workbench */
.block {
  flex-grow: 0;
  flex-shrink: 0;
}

.block-col-1 { width: 100% }
.block-col-2 { width: 50% - 1rem }
.block-col-3 { width: calc((100% - 4rem) * .29667) }
.block-3 :nth-of-type(3) { width: calc((100% - 4rem) * .40667) }



/* pinch */
.pinch-status {
  width: 16px;
  height: 16px;
}